<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<a th:href="'/nutrition?name=' + ${username}">Nutrition Store</a>
<h1 th:text="'Hello, ' + ${username} + '!'"></h1>
<p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows ' + ${numberOfTricks} + ' trick(s).' "></p>
<img src="/greenfox.png"/>
<h1>Known tricks</h1>
<ul th:if="${listOfTricks.size()} != 0" th:each="tricks : ${listOfTricks}">
    <li th:text="${tricks}"></li>
</ul>
<hi th:if="${listOfTricks.size()} == 0" th:text="'You know no tricks yet. Go and learn some.'"></hi>
</body>
</html>