<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1 th:object="${user}" th:text="'Hello, ' + ${user.getUserName()} + '!'"></h1>
<form action="#" th:action="'/nutrition?name=' + ${user.getUserName()}" th:object="${fox}" method="post">
    <label for="food">Food</label>
    <input type="text" id="food" name="food"/>
    <label for="drink">Drink</label>
    <input type="text" id="drink" name="drink" />
    <input type="submit" value="CHANGE"/>
</form>
</body>
</html>