<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8" />
</head>
<body>
<div class="container">
    <h1 class="text-center text-uppercase">Edit todo</h1>
</div>
<div class="col-md-4"></div>
<form action="#" class="text-center col-md-4" th:action="@{'/todo/' + ${todo.id} + '/edit'}" th:object="${todo}" method="post">
    <label for="task">Todo description</label>
    <input type="text" class="form-control" id="task" th:field="${todo.title}"/></br>
    <label for="assignee">Assignee</label>
    <select id="assignee" th:field="${todo.assignee}"/>
        <option th:each="assignee : ${assignees}" th:text="${assignee.getName()}" th:value="${assignee.getId()}"></option>
    </select></br>
    <input type="checkbox" th:field="${todo.urgent}" th:checked="${todo.urgent}"/>Urgent
    <input type="checkbox" th:field="${todo.done}" th:checked="${todo.done}"/>Done</br></br>
    <input type="submit" class="btn btn-default" value="Submit"/></br></br>
    <a type="button" class="btn btn-xs btn-warning" th:href="'/todo/list'">Cancel</a>
</form>
<div class="col-md-4"></div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>