<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8" />
</head>
<body>

    <div class="container">
        <h1 class="text-center text-uppercase">Todos for today</h1>
        <div class="row">
        <div class="col-md-4"></div>
        <form class="text-center col-md-4" action="#" th:action="'/todo/'" method="post">
            <label for="search">Search task</label>
            <input type="text" class="form-control" id="search" name="search"/></br>
            <input type="submit" value="Search" class="btn btn-primary"/></br>
        </form>
        <div class="col-md-4"></div>
        </div></br>
        <div class="text-center"><a th:href="'/todo/add'" type="button" class="btn btn-warning">Add new todo</a></div>
        </br>
        <table class="table table-striped">
            <tr class="headline text-center">
                <td><strong>ID</strong></td>
                <td><strong>ACTION</strong></td>
                <td><strong>URGENT</strong></td>
                <td><strong>DONE</strong></td>
                <td><strong>DELETE</strong></td>
                <td><strong>EDIT</strong></td>
                <td><strong>ASSIGNEE</strong></td>
            </tr>
            <tr th:each="todo : ${todos}" class="text-center">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td><span th:class="${todo.isUrgent()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
                <td><span th:class="${todo.isDone()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
                <td><a type="button" class="btn btn-xs btn-danger" th:href="'/todo/' + ${todo.getId()} + '/delete'">Delete</a></td>
                <td><a type="button" class="btn btn-xs btn-primary" th:href="'/todo/' + ${todo.getId()} + '/edit'">Edit</a></td>
                <td th:text="${todo.getAssignee()}"></td>
            </tr>
        </table>
        <div class="text-center text-uppercase">
        <a href="/todo/assignee">List of assignees</a>
        </div>
    </div>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>