<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr th:each="account : ${accounts}" th:style="${account.isKing()} ? 'color: ' + ${color} : 'color: black'">
        <td th:text="${account.getId()}"/>
        <td th:text="${account.getName()}"/>
        <td th:text="${account.balanceWith2Decimals()}"/>
        <td th:text="${account.getCurrency()}"/>
        <td th:text="${account.getAnimalType()}"/>
        <td th:text="${account.kingIndicator()}"/>
        <td th:text="${account.getName()} != 'Zordon' ? 'Good guy' : 'Bad guy'"/>
    </tr>
</table>
</body>
</html>