<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<p th:each="account : ${accounts}" th:text="${account.getId()} + '. ' + ${account.getName()} + ' ' + ${account.balanceWith2Decimals()} + ' ' + ${account.getCurrency()} + ' ' + ${account.getAnimalType()} + ' ' + ${account.kingIndicator()}" th:style="${account.isKing()} ? 'color: ' + ${color} : 'color: black'" : />
</body>
</html>